.player-window
	.player-title Футбол. "Ювентус - Удинезе"
	.player-controls
		button.player-controls__mute(type="button" aria-label="Вкл/Выкл звук")
			i.icon-mute
		.player-controls__bar.player-bar
			.player-bar__progress
				.player-bar__progress-bar(style="width:60%")
				.player-bar__progress-pointer(style="left:60%")
			.player-bar__row
				.player-bar__item
					button.player-bar__play(type="button" aria-label="Воспроизвести")
						i.icon-pause
						i.icon-play
				.player-bar__volume.player-bar__item
					button.player-bar__volume-icon(type="button" aria-label="Громкость")
						i.icon-volume
					.player-bar__volume-control
						.player-bar__volume-control-bar(style="width:60%;")
				.player-bar__on-air.is-active.player-bar__item
					.player-bar__on-air-icon
					.player-bar__on-air-title В эфире
				.player-bar__slide.player-bar__item
					button.player-bar__slide-btn(type="button" aria-label="Назад")
						i.icon-rewind-left
					.player-bar__slide-title Футбол. "Ювентус - Удинезе"
					button.player-bar__slide-btn(type="button" aria-label="Вперед")
						i.icon-rewind-right
				.player-bar__item
					.player-bar__time 12:34:56
				.player-bar__item
					button.player-bar__expand(type="expand" aria-label="Развернуть")
						i.icon-expand
						i.icon-collapse
	.player-overlay
		button.player-overlay__play(type="button" aria-label="Воспроизвести")
			i.icon-play
	if withMsg
		.player-messages
			include _msg/demoMessage.pug
			include _msg/errorMessage.pug
			include _msg/subscribeMessage.pug

	// temporary image for test
	.player-image(style="width:100%;height:100%;")
		img(src="img/content/player/temp-player-bg.jpg", alt="temporary" style="width:100%;height:100%;object-fit:cover;")