section.player-header.channel-header
	.container-xl
		.row
			.col-md-9
				.player-header__left.channel-header__left
					.player-header__logo.channel-header__logo
						img(src="img/content/channels/channel_match-tv.png", alt="Матч ТВ лого")
					h1.player-header__title.channel-header__title.title-1 Прямой эфир
						strong Матч ТВ
			.col-md-3
				
