.player-window Embeded player
	// demo message
	.player-window__info
		i.icon-tv-icon
		span Вы смотрите эфир канала в демо-режиме
	// error message
	// .player-window__info.player-window__info--error
		i.icon-exclamation
		span Извините, возникла проблема при воспроизведении видео. Мы работаем над устранением ошибки.