section.player-subs
	.container-xl
		.row
			.col-md-4.col-lg-3
				.player-subs__title
					span Подписка на канал
					strong Матч ТВ
			.col-md-8.col-lg-6
				.player-subs__tariff.player-tariff
					.row
						.col-xl-6
							.player-tariff__name Пакет 
								strong «Базовый»
							.player-tariff__channels
								i.icon-tv-icon
								span 
									b 111 
									| каналов
							.player-tariff__descr Входит в дополнительный канал пакета.
						.col-xl-6
							.player-tariff__price 298 
								span ₽
							a.player-tariff__buy.buy-btn(href="#") Оформить подписку

			.d-none.d-lg-block.col-lg-3
				.player-subs__on-air
					.player-subs__on-air-now Сейчас в эфире
					.player-subs__on-air-title Футбол. "Ювентус - Удинезе"
					.player-subs__on-air-descr Трансляция из Украины
