-
	var advantages = [
		{
			icon: 'adv-0',
			title: 'Смотрите ТВ-онлайн бесплатно',
			text: 'ComboPlayer — многофункциональная программа для просмотра ТВ-онлайн. Повторим еще раз: программа для просмотра ТВ-онлайн.',
		},
		{
			icon: 'adv-3',
			title: 'Слушайте и смотрите любые форматы AVI, MKV, MP4, MP3 и сотни других',
			text: 'ComboPlayer уже включает в себя все необходимые и актуальные аудио и видеокодеки.',
		},
		{
			icon: 'adv-6',
			title: 'Хотите слушать онлайн радио бесплатно?',
			text: 'Бесплатно слушайте сотни радиостанций онлайн со всего мира уже сейчас.',
		},
		{
			icon: 'adv-1',
			title: 'Воспроизведение потокового видео: веб-камеры, ТВ, видеонаблюдение',
			text: 'Благодаря программе ComboPlayer компьютер без труда сможет заменить телевизор.',
		},
		{
			icon: 'adv-4',
			title: 'Доступ к личной медиатеке с разных устройств',
			text: 'Одно из главных удобств ComboPlayer — доступ к личной медиатеке с разных устройств: ноутбука, компьютера и моноблока на Windows.',
		},
		{
			icon: 'adv-7',
			title: 'Удобный интерфейс',
			text: 'ComboPlayer настроен и оптимизирован таким образом, чтобы пользователь мог приступить к работе с программой без лишних настроек.',
		},
		{
			icon: 'adv-2',
			title: 'Цифровое ТВ в России — что это и как работает?',
			text: 'Как работает и как смотреть Цифровое Телевидение в России?',
		},
		{
			icon: 'adv-5',
			title: 'Фильмы и сериалы онлайн',
			text: 'Смотрите фильмы и сериалы также и на сайте!',
		},
	]

section.download-advantages
	.container-xl
		.row
			each adv in advantages
				.col-12.col-md-4
					.download-advantages__item
						.download-advantages__icon
							i.download-advantages__icon-icon(class="icon-" + adv.icon)
						.download-advantages__text
							.download-advantages__text-head #{adv.title}
							.download-advantages__text-body #{adv.text}