-
	var categories = [
		{
			title: 'ТВ-каналы',
			link: '#channels-results',
		},
		{
			title: 'Программы',
			link: '#programms-results',
		},
		{
			title: 'Фильмы',
			link: '#movies-results',
		},
	]

section.post-header.search-header
	.container-xl
		.row.align-items-center
			.col-12.col-md-8
				h1.post-header__title.title-1 #{config.page.title}
			.col-12.col-md-4
				.search-header__categories.nav
					each cat, idx in categories
						a.search-header__link(href=cat.link data-toggle="tab" class=(idx == 0 ? 'active': '')) #{cat.title}
