include /_includes/config.pug
doctype html

html(lang=config.lang)
	head
		//- block meta for local page config
		block meta
		include /_includes/head.pug
		
	body
		include /_includes/header.pug
		block content
		include /_includes/footer.pug
		block modal
		include /_includes/pagesList.pug
		include /_includes/scripts.pug
		+githubCorner('#000', 'https://github.com/KikelDmitry/comboplayer')