.post-header {
	&.channels-header {
		border-bottom: 1px solid $color-steel-dull-85;
	}
	&__title {
		padding: 20px 0;
		line-height: 29px;
		color: $color-cobalt-1;
	}
	&__controls {
		display: flex;
	}
}