.category-row {
	padding: 12px 0 2px;
}
.categories-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;

	&__item {
		margin-right: 10px;
		margin-bottom: 10px;

		@include catColor(movie);
		@include catColor(series);
		@include catColor(sport);
		@include catColor(learning);
		@include catColor(info);
		@include catColor(news);
		@include catColor(entertain);
		@include catColor(culture);
		@include catColor(kids);
	}
	&__label {
		margin: 0;
	}
	&__input {
		appearance: none;

		&:checked {
			& + .categories-list__view {
				.categories-list__title {
					&::before {
						transform: scale(1);
					}
				}
			}
		}
	}
	&__view {
		padding: 0 8px;
		margin: 0;
		background-color: $color-steel-dull-9;
		color: $color-steel-2;
		border-radius: 3px;
		cursor: pointer;
		transition: background-color 200ms, color 200ms;

	}
	&__title {
		display: flex;
		align-items: center;
		font-family: $addFont;
		font-size: 16px;
		user-select: none;
		
		@include media-breakpoint-up(xl) {
			font-size: 18px;
		}
		&::before {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			margin-right: 4px;
			border-radius: 50%;
			background-color: rgba(218, 218, 242, 0.66);
			transform: scale(0);
			transition: transform 200ms;
		}
	}
}