.category-row {
	padding: 12px 0;

	&__inner {
		position: relative;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
	}
	&__nav {
		position: absolute;
		top: 0;
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		background-color: $color-steel-dull-9;
		color: $color-cobalt-2;
		border-radius: 3px;
		transition: background-color 200ms;

		&::after {
			content: "";
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0;
			pointer-events: none;
		}
		&:hover {
			background-color: $color-steel-dull-95;
		}
		&:active {
			background-color: $color-cobalt-3;

			i {
				color: $color-white;
			}
		}
		&--prev {
			left: 0;

			i {
				transform: rotateZ(-90deg);
			}
			&::after {
				left: 0;
				transform: translateX(100%);
				background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 74.48%);
			}
		}
		&--next {
			right: 0;

			i {
				transform: rotateZ(90deg);
			}
			&::after {
				right: 0;
				transform: translateX(-100%);
				background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 74.48%);
			}
		}
		i {
			transition: color 200ms;
		}
	}
	&__list {
		// padding: 0 12px;
		flex: 1 1 auto;
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.categories-list {
	display: flex;
	padding: 0 24px;

	$cat-list: movie, series, sport, learning, info, news, entertain, culture, kids, rest;

	&__item {
		display: block;
		margin: 0 5px;
		// margin-right: 10px;
		// padding-left: 10px;
				
		@each $cat in $cat-list {
			@include catColor($cat);
		}
	}
	&__label {
		display: flex;
		height: 24px;
		margin: 0;
	}
	&__input {
		flex: 0 1 0;
		appearance: none;

		&:checked {
			& + .categories-list__view {
				.categories-list__title {
					&::before {
						width: 8px;
						margin-right: 4px;
					}
				}
			}
		}
	}
	&__view {
		display: block;
		padding: 0 8px;
		margin: 0;
		background-color: $color-steel-dull-9;
		color: $color-steel-2;
		border-radius: 3px;
		cursor: pointer;
		transition: background-color 200ms, color 200ms;
	}
	&__title {
		display: flex;
		align-items: center;
		font-family: $addFont;
		font-size: 16px;
		line-height: 24px;
		user-select: none;

		@include media-breakpoint-up(xl) {
			font-size: 18px;
		}
		&::before {
			content: "";
			display: block;
			width: 0;
			height: 8px;
			margin-right: 0;
			border-radius: 50%;
			background-color: rgba(218, 218, 242, 0.66);
			transition: all 200ms;
		}
	}
}
