.city-dropdown {
	margin-left: 10px;

	@include media-breakpoint-up(lg) {
		margin-left: 15px;
	}
	@include media-breakpoint-up(xl) {
		margin-left: 10px;
	}
	&__btn {
		height: 36px;
		display: flex;
		align-items: center;
		padding: 8px 12px;
		border-radius: 4px;
		background-color: $color-steel-dull-95;
		transition: background-color 200ms;

		&::after {
			margin-left: 8px;
			color: $color-apple-4;
			border-width: 0.4em;
			transition: color 200ms;

			@include media-breakpoint-up(md) {
				margin-left: 38px;
			}
		}
		&:hover {
			background-color: $color-steel-dull-85;
		}
		&[aria-expanded="true"] {
			background-color: $color-apple-4;

			&::after {
				color: $color-white;
			}
			i {
				color: $color-apple-8;
			}
			.city-dropdown__btn-title {
				color: $color-white;
			}
		}
		i {
			margin-right: 8px;
			color: $color-apple-5;
			transition: color 200ms;
		}
		&-title {
			color: $color-cobalt-2;
			font-size: 14px;
			transition: color 200ms;

			@include media-breakpoint-up(lg) {
				font-size: 15px;
			}
			@include media-breakpoint-up(xl) {
				font-size: 16px;
			}
		}
	}
	&__menu {
		right: 0 !important;
		left: auto !important;
		transform: translate3d(0, 36px, 0) !important;
		max-width: 225px;
		box-shadow: $shadow-lg;
		padding: 0;
		border: 0;
		border-radius: 5px;
	}
	&__form {
		position: relative;
		height: 48px;
		background-color: $color-steel-dull-9;
		border-bottom: 1px solid #d3e8e1;

		.twitter-typeahead {
			height: 100%;
			display: block !important;

			.tt-menu {
				width: 100%;
				background-color: $color-white;
				margin-top: 1px;
				box-shadow: $shadow-lg;

				.tt-dataset {
					--item-height: 45px;

					.tt-suggestion {
						height: var(--item-height);
						padding: 0 15px;
						color: $color-steel-2;
						line-height: var(--item-height);
						font-size: 14px;
						cursor: pointer;

						&:not(:last-child) {
							border-bottom: 1px solid #d3e8e1;
						}
						&:hover {
							background-color: $color-apple-9;
							color: $color-steel-1;

							.city-droplist__city,
							.city-droplist__county {
								color: inherit;
							}
						}
						div {
							&:nth-child(2) {
								font-size: 13px;
							}
						}
					}
				}
			}
		}
		&-input {
			min-width: 0;
			padding: 10px 36px 10px 15px;
			height: 100%;
			border: 0;
			background-color: transparent;
			color: $color-steel-2;
			font-size: 14px;

			&::placeholder {
				color: $color-steel-5;
			}
			&:focus {
				outline: 0;
			}
		}
		&-icon {
			position: absolute;
			top: 50%;
			right: 12px;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateY(-50%);
			color: $color-apple-5;
		}
		&:hover,
		&:focus-within {
			background-color: $color-apple-9;

			i {
				color: $color-apple-3;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		padding: 10px 15px;
		color: $color-cobalt-2;
		font-size: 14px;

		i {
			transform: rotateZ(90deg);
			font-size: 17px;
		}
		&:hover {
			background-color: $color-cobalt-deep-9;
			color: $color-cobalt-2;
		}
	}
}
.city-droplist {
	--item-height: 45px;

	&__item {
		&:not(:last-child) {
			border-bottom: 1px solid #d3e8e1;
		}
	}
	&__link {
		height: var(--item-height);
		display: flex;
		flex-direction: column;
		padding: 2px 15px;

		&:hover {
			background-color: $color-apple-9;
			color: $color-steel-1;

			.city-droplist__city,
			.city-droplist__county {
				color: inherit;
			}
		}
	}
	&__city {
		font-size: 14px;
		color: $color-steel-2;
	}
	&__county {
		font-size: 12px;
		color: $color-steel-4;
	}
}
