-
	var slides = [
		{
			title: 'Телевидение онлайн',
			descr: 'Достаточно просто установить <strong>ComboPlayer</strong>, никаких настроек и поиска кодеков не потребуется — все необходимое устанавливается автоматически вместе с программой.',
			tags: [
				{
					type: 'new',
					text: 'Новинка',
				},
				{
					type: 'premiere',
					text: 'Премьера',
				},				
				{
					type: 'rated',
					text: '18+',
				},
			],
			color: '#2459AB',
		},
		{
			title: 'Майор Гном',
			tags: [
				{
					type: 'new',
					text: 'Новинка',
				},
				{
					type: 'premiere',
					text: 'Премьера',
				},
				{
					type: 'free',
					text: 'Бесплатно',
				},
			],
			color: '#CD3E2F',
		},
		{
			title: 'Следствие вели...',
			tags: [
				{
					type: 'new',
					text: 'Новинка',
				},
				{
					type: 'premiere',
					text: 'Премьера',
				},				
				{
					type: 'rated',
					text: '18+',
				},
			],
				color: '#514A44',
		},
	]

section.top-slider
	.top-slider__container.owl-carousel
		each slide, idx in slides
			.container-xl.top-slide
				a.top-slide__inner(style="--banner-color:" + slide.color href="#")
					.top-slide__poster(style="background-image: url(/img/content/banners/slide" + idx + ".png)")
						.top-slide__description !{slide.descr}
						//- img(src="/img/content/banners/slide" + idx + ".png")
					.top-slide__title
						.top-slide__title-text #{slide.title}
						.top-slide__tags
							each tag in slide.tags
								.top-slide__tag(class="top-slide__tag--" + tag.type) #{tag.text}
	//- button(type="button" aria-label="Предыдущий элемент").slider-nav.slider-nav--left
		i.icon-caret-down
	//- button(type="button" aria-label="Следующий элемент").slider-nav.slider-nav--right
		i.icon-caret-down