-
	var data = {
		title: 'Телевидение онлайн',
		buttons: [
			'Сейчас на ТВ',
			'Смотреть в записи',
		],
		category: [
			{
				id: 'on-air',
				title: 'Сейчас на ТВ',
			},
			{
				id: 'on-record',
				title: 'Смотреть в записи',
			},
		]
	};
-
	var programms = [
		{
			channel: 'channel_ch-5.png',
			poster: 'bro.png',
			time: '18:10',
			title: 'Брат за брата',
			progress: 33,
		},
		{
			channel: 'channel_match-tv.png',
			poster: 'fitness.png',
			time: '22:10',
			title: 'Фитнес',
			progress: 89,
		},
		{
			channel: 'channel_friday.png',
			poster: 'cinema-masterpieces.png',
			time: '16:02',
			title: 'Шедевры старого кино',
			progress: 12,
		},
		{
			channel: 'channel_match-tv.png',
			poster: 'priest-response.png',
			time: '16:00',
			title: 'Ответ священника',
			progress: 45,
		},
	];

section.tv-online-slider
	.container-xl
		+programmSlider(data.title, data.buttons, programms, data.category)
