-
	var content = [
		'Три подруги приезжают в заповедник сказок, город Мышкин, и знакомятся с местной девочкой Аленкой. Они подбирают на улице необычную милую зверушку Печальку, которая позже превращается в монстра Тоску, грозящего принести большие неприятности. Вместе девочки одолевают Тоску и спасают город. Преодолев все испытания и разногласия, девочки становятся верными подругами. Вместе они создают команду для контроля за сказочными силами, чтобы всегда сохранять спокойствие в мире людей.',
	] 

h2 #{config.page.title}
each p in content
	p #{p}