-
	var menu = [
		{
			title: 'Combo TV',
			link: 'order.html',
		},
		{
			title: 'ТВ-программа',
			link: 'tv-guide.html',
		},
		{
			title: 'Фильмы онлайн',
			link: 'movies.html',
		},
	]

header.header
	.container-xl
		.row.flex-nowrap
			.col-auto.col-lg-3
				a.header__logo(href="/" title="На главную")
					img.header__logo-img(src="/img/logo.svg" alt="comboplayer logo")
			.col.ml-auto.p-0.header__center
				.header__search
					label.header__search-label
						i.icon-zoom.header__search-icon
						input.header__search-input(type="text" name="s" placeholder="Поиск")
					button.header__search-close(type="button" title="Закрыть поиск")
						i.icon-close
					include searchDropdown.pug
			.d-flex.col-auto.p-0.pr-xl-3.position-static.header__right-side
				nav.header__menu
					.header__menu-inner
						// класс для активного пункта меню - .header__menu-item - 'is-active'
						each item, idx in menu
							a.header__menu-item(href=item.link) #{item.title}
				// anonymus state
				a.header__login(href="login.html" aria-label="Вход")
						i.icon-login
						span Вход
				// logged in state
				// .header__dropdown.dropdown
					button.header__login.header__login--dropdown.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							i.icon-user
							span UserName12345
					ul.header__dropdown-menu.dropdown-menu
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-lock
								span Админка 
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-user
								span Личный кабинет 
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-logout2
								span Выйти 
				.header__burger.d-md-none
					button.header__burger-btn(type="button" aria-label="Открыть меню")
						i.icon-burger