-
	var menu = [
		{
			title: 'Combo TV',
			link: 'order.html',
		},
		{
			title: 'ТВ-программа',
			link: 'tv-guide.html',
		},
		{
			title: 'Фильмы онлайн',
			link: 'movies.html',
		},
	]

header.header
	.container-xl
		.row.flex-nowrap
			.col-auto
				a.header__logo(href="/")
					h1.visually-hidden Comboplayer
					img(src="/img/logo.svg" alt="comboplayer logo")
			.col.ml-auto.pl-0.header__search
				form.header__form
					label.header__form-label
						i.header__form-icon.icon-zoom
						input.header__form-input(type="text" placeholder="Поиск" name="s")
					button.header__form-reset(type="button" title="Закрыть")
						i.icon-close
					//- button.header__form-submit(type="submit")
						span.visually-hidden Искать
				include searchDropdown.pug

			.d-flex.col-auto.p-0.pr-xl-3.position-static.header__right-side
				nav.header__menu
					.header__menu-inner
						// класс для активного пункта меню .header__menu-item - 'is-active'
						each item, idx in menu
							a.header__menu-item(href=item.link) #{item.title}
				// anonymus state
				a.header__login(href="login.html" aria-label="Вход")
						i.icon-login
						span Вход
				// logged state
				// .header__dropdown.dropdown
					button.header__login.header__login--dropdown.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							i.icon-user
							span UserName12345
					ul.header__dropdown-menu.dropdown-menu
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-lock
								span Админка 
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-user
								span Личный кабинет 
						li.header__dropdown-item
							a.header__dropdown-link(href="#")
								i.icon-logout2
								span Выйти 
				.header__burger.d-md-none
					button.header__burger-btn(type="button" aria-label="Открыть меню")
						i.icon-burger