-
	var menu = [
		{
			title: 'Combo TV',
			link: 'order.html',
		},
		{
			title: 'ТВ-программа',
			link: 'tv-guide.html',
		},
		{
			title: 'Фильмы онлайн',
			link: '#',
		},
	]

header.header
	.container-xl
		.row.flex-nowrap
			.col-auto
				a.header__logo(href="/")
					h1.visually-hidden Comboplayer
					img(src="/img/logo.svg" alt="comboplayer logo")
			.col-auto.col-md.ml-auto.p-0
				form.header__search
					label.header__search-label
						i.header__search-icon.icon-zoom
						input.header__search-input(type="text" placeholder="Поиск" name="s")
					//- button.header__search-submit(type="submit")
						span.visually-hidden Искать
				//- include searchDropdown.pug

			.d-flex.col-auto.pr-0.pr-xl-3.position-static.header__right-side
				nav.header__menu
					each item, idx in menu
						a.header__menu-item(href=item.link) #{item.title}
				a.header__login(href="#" aria-label="Вход")
						i.icon-login
						span Вход
				.header__burger.d-md-none
					button.header__burger-btn(type="button" aria-label="Открыть меню")
						i.icon-burger
						
			//- .d-none.d-md-block.col-md-6
				.header__slogan Смотрите бесплатно ТВ онлайн
					
			//- .col-6.col-md-3.ml-auto
				a.header__phone(href="tel:+78632800012")
					b +7 (863) 
					| 280-00-12