header.header
	.container
		.row.align-items-center
			.col-6.col-md-3
				a.header__logo(href="/")
					h1.visually-hidden Comboplayer
					img(src="/img/logo.svg" alt="comboplayer logo")

			.d-none.d-md-block.col-md-6
				.header__slogan Смотрите бесплатно ТВ онлайн
					
			.col-6.col-md-3
				a.header__phone(href="tel:+78632800012")
					b +7 (863) 
					| 280-00-12