.article-content {
	font-weight: 300;

	h2 {
		margin: 25px 0 20px;
		color: $color-cobalt-1;
		font-family: $addFont;
		font-size: 20px;
		font-weight: 400;
	}
	h3 {
		margin: 20px 0 10px;
		color: $color-steel-2;
		font-size: 16px;
		font-weight: bold;
		line-height: 125%;
	}
	h4 {
		margin: 20px 0 10px;
		color: $color-steel-2;
		font-weight: 500;
		font-size: 16px;
		line-height: 125%;
	}
	p {
		font-size: 16px;
		line-height: 140.62%;
	}
	a {
		color: $color-cobalt-4;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	ul {
		margin: 30px 0;

		li {
			display: flex;
			align-items: center;
			
			&::before {
				content: "";
				flex: 0 0 auto;
				width: 12px;
				height: 2px;
				margin-right: 18px;
				background-color: $color-blue-10;
			}
		}
	}
	ol {
		margin: 30px 0;

		counter-reset: list;
		li {
			&::before {
				content: counter(list) ".";
				counter-increment: list;
				color: $color-blue-10;
				margin-right: 0.3em;
			}
		}
	}
	blockquote {
		display: flex;
		margin: 20px 0;
		color: $color-gray-0;

		&::before {
			content: "";
			flex: 0 0 auto;
			width: 4px;
			margin-right: 26px;
			background-color: $color-blue-10;
		}
	}
}
