.page-header {
	$height: 44px;

	&__title {
		display: flex;
		align-items: center;
		padding: 0.2em 0;
		min-height: $height;
		color: $color-cobalt-1;
		line-height: 1.4;
	}

}
.programm-guide {
	&__header {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__cities {
		margin: 20px 10px 20px 0;
	
		.city-dropdown {
			margin-left: 0;
	
			&__menu {
				left: 0 !important;
				right: auto !important;
			}
		}
	}
	&__to-guide {
		display: inline-flex;
		align-items: center;
		height: 32px;
		margin: 10px 0;
		padding: 0 12px;
		background-color: $color-steel-dull-95;
		color: $color-cobalt-2;
		font-size: 14px;
		border-radius: 5px;
		white-space: nowrap;
		
		@include media-breakpoint-up(sm) {
			margin: 0;
			font-size: 16px;
		}
		@include media-breakpoint-up(md) {
			font-size: 18px;
		}
		&:hover {
			background-color: $color-cobalt-2;
			color: $color-white;
		}
	}
}

