aside.movie-aside
	.movie-info.movie-info--aside
		.movie-info__field
			.movie-info__key Категории
			.movie-info__val
				a.movie-info__link(href="#") Фильмы
		.movie-info__field
			.movie-info__key Жанр
			.movie-info__val
				a.movie-info__link(href="#") Драма
				a.movie-info__link(href="#") Триллер
				a.movie-info__link(href="#") Ужасы
				a.movie-info__link(href="#") Зарубежный
		.movie-info__field
			.movie-info__key Год
			.movie-info__val
				a.movie-info__link(href="#") 2017
		.movie-info__field
			.movie-info__key Входит в подборку
			.movie-info__val
				a.movie-info__link(href="#") Фильмы про акул
		.movie-info__field
			.movie-info__key Длительность
			.movie-info__val
				i.movie-info__icon.icon-timer
				span.movie-info__text 77 мин.
	.aside-ad
		.movie-aside__ad.aside-ad__content AD
