.movie-staff
	.movie-staff__field
		.movie-staff__key Режиссер
		.movie-staff__val Леонид Быков
	.movie-staff__field
		.movie-staff__key Актеры
		.movie-staff__val.expanded-text Юрий Саранцев, Алим Федоринский, Сергей Иванов, Владимир Волков, Дмитрий Миргородский, Вилорий Пащенко, Владимир Талашко, Григорий Гладий, Ольга Матешко, Сергей Подгорный, Рустам Сагдуллаев, Евгения Симонова, Алексей Смирнов, Виктор Мирошниченко, Вано Янтбелидзе, Александр Немченко, Борис Болдыревский, Валентин Макаров, Людмила Марченко, Валентин Грудинин, Виктор Степаненко, Анатолий 
	.movie-staff__field
		.movie-staff__key Продюсер
		.movie-staff__val Николай Злочевский, Илья Фидман