-
	var tags = [
		'Русские комедии про водку',
		'Фильмы о волках',
		'Ранний монгольский арт-хаус',
		'Индийское игровое кино',
		'Советские мультики про дружбу',
	];
.movie-tags
	h2.movie-tags__title.title-2 Вам может быть интересно
	.movie-tags__body
		each tag in tags
			a.movie-tags__item(href="#") #{tag}