main.movie-main
	include moviePlayer.pug
	.d-xl-none
		include movieAddInfo.pug
	include movieDescr.pug
	include movieScreenshots.pug
	include movieTags.pug
	if activeCat == 'Фильмы'
		include movieQuotes.pug
		hr.movie-main__sep
		include movieStaff.pug