-
	var quotes = [
		{
			text: 'Джонни, где твоя другая половина тела?',
			sign: 'Фрэнки',
		},
		{
			text: 'Его съела акула, Фрэнки.',
			sign: 'Джонни',
		},
		{
			text: 'Я тебя предупреждал, Джонни. Атлантика опасна!',
			sign: 'Фрэнки',
		},
		{
			text: 'Господи, Джонни! Ты весь в крови.',
			sign: 'Фрэнки',
		},
		{
			text: 'Знаю, Фрэнки, но нижняя часть тела мне все равно не нравилась.',
			sign: 'Джонни',
		},
		{
			text: 'Что теперь будешь делать, Джонни? Может, найдем эту акулу. У нас есть лодка и гарпун.',
			sign: 'Джонни',
		},
		{
			text: 'Нет, давай лучше позагараем. Если мне не помешает сплошное кровотечение и некроз тканей, конечно.',
			sign: 'Фрэнки',
		},
	];

.movie-quotes
	h2.movie-quotes__title.title-2 Цитаты из фильма 
		strong Над глубиной: Хроника выживания
	.movie-quotes__body
		.row
			each quote in quotes
				.col-12.col-lg-6
					blockquote.movie-quotes__item.movie-quote
						.movie-quote__content
							.movie-quote__text #{quote.text}
							.movie-quote__sign #{quote.sign}