-
	var ratings = [
		{
			alias: 'kinopoisk',
			title: 'Кинопоиск',
			icon: 'kinopoisk-logo',
			num: '6.9',
		},
		{
			alias: 'imdb',
			title: 'IMDB',
			icon: 'imdb',
			num: '6.3',
		},
	]
.movie-rating
	if activeCat == 'Фильмы'
		.movie-rating__age(aria-label="Возрастное ограничение") 18+
	each rating in ratings
		a.movie-rating__item(href="#" class="movie-rating__item--" + rating.alias title="Страница на " + rating.title aria-label="Перейти на " + rating.title target="_blank")
			span.movie-rating__icon(class="movie-rating__icon--" + rating.alias)
				i(class="icon-" + rating.icon)
			span.movie-rating__num #{rating.num}
