// error message
.player-messages__item.player-messages__item--error
	i.player-messages__icon.icon-exclamation
	span.player-messages__text Извините, возникла проблема при воспроизведении видео. Мы работаем над устранением ошибки.