// subscribe message
.player-messages__item.player-messages__item--denied.den-msg
	.den-msg__left
		img.den-msg__icon(src="img/subscribe-icon.svg" alt="subscribe icon")
	.den-msg__right
		.den-msg__title Просмотр канала будет доступен после оформления подписки
		.den-msg__subtitle Выберите подходящий для вас пакет каналов.
		a.den-msg__subscribe.buy-btn(href="order.html") Оформить подписку 