extends /_layout/base.pug

block meta
	- config.page.title = 'Скачать Comboplayer';

block content
	include /_includes/_download/downloadHeader.pug
	include /_includes/_download/downloadHero.pug
	include /_includes/_download/donwloadAdvantages.pug
	include /_includes/_download/downloadBottom.pug