extends /_layout/base.pug

block meta
	- config.page.title = 'Главная';
	- config.page.description = 'Home page description';

block content
	include /_includes/_home/topSlider.pug
	include /_includes/_home/tvGuideSlider.pug
	include /_includes/_home/tvOnlineSlider.pug
	include /_includes/_home/downloadBlock.pug
	include /_includes/_home/moviesSlider.pug
	.owl-carousel.items-carousels
		div 1
		div 2
		div 3
		div 4
