extends /_layout/base.pug

block meta
	- config.page.title = 'Войти \/ Зарегистрироваться';
	- config.page.description = 'Войти \/ Зарегистрироваться';

block content
	include /_includes/_auth/authBlock.pug
