extends /_layout/base.pug

block meta
	- config.page.title = 'Войти \/ Зарегистрироваться';
	- config.page.description = 'Войти \/ Зарегистрироваться';

	-
		var socials = [
			{
				title: 'Facebook',
				icon: 'facebook',
			},
			{
				title: 'ВКонтакте',
				icon: 'vk',
			},
			{
				title: 'Twitter',
				icon: 'twitter',
			},
			{
				title: 'OK',
				icon: 'odnoklassniki',
			},
			{
				title: 'Мой Мир',
				icon: 'moi-mir',
			},
			{
				title: 'Яндекс',
				icon: 'yandex',
			},
			{
				title: 'Instagram',
				icon: 'instagram',
			},
		]
block content
	.login-register-wrapper
		include /_includes/_auth/authBlock.pug
