extends /_layout/base.pug

block meta
	- config.page.title = 'Фильмы онлайн';
	- config.page.description = 'Фильмы онлайн page description';

block content
	include /_includes/_movies/pageHeader.pug
	include /_includes/_movies/pageBody.pug		