extends /_layout/base.pug

block meta
	- config.page.title = 'Подписка';
	- config.page.description = 'Оформление подписки';

block content
	include /_includes/_order/orderSticky.pug
	include /_includes/_order/orderMain.pug