extends /_layout/search.pug

block append meta
	- config.page.title = 'Результат поиска по запросу «россия»';
	- var activeCat = 'ТВ-каналы'; 

block results
	include /_includes/_channels/channelsMasonry.pug