extends /_layout/base.pug

block meta
	- config.page.title = 'ТВ-программа';
	- config.page.description = 'TV guide page description';

block content
	include /_includes/_tv-guide/filtersManagement.pug
	include /_includes/_tv-guide/stickyFilters.pug
	include /_includes/_tv-guide/guideGrid.pug
	include /_includes/_tv-guide/programmCard.pug