-
	var categories = [
		{
			title: 'Фильмы',
			id: 'movie',
		},
		{
			title: 'Сериалы',
			id: 'series',
		},
		{
			title: 'Спорт',
			id: 'sport',
		},
		{
			title: 'Познавательное',
			id: 'learning',
		},
		{
			title: 'Инфо',
			id: 'info',
		},
		{
			title: 'Новости',
			id: 'news',
		},
		{
			title: 'Культура',
			id: 'culture',
		},
		{
			title: 'Досуг',
			id: 'entertain',
		},
		{
			title: 'Детям',
			id: 'kids',
		},
		{
			title: 'Остальное',
			id: 'rest',
		},
	]

.category-row
	.container-xl
		.category-row__inner
			button.category-row__nav.category-row__nav--prev(type="button" aria-label="Назад")
				i.icon-caret-up
			ul.categories-list.category-row__list
				each cat in categories
					li.categories-list__item(class="categories-list__item--" + cat.id)
						label.categories-list__label
							input.categories-list__input(type="checkbox" name=cat.id id=cat.id)
							span.categories-list__view
								span.categories-list__title #{cat.title}
			button.category-row__nav.category-row__nav--next(type="button" aria-label="Вперед")
				i.icon-caret-up