-
	var guide = [
		{
			title: 'Первый',
			logo: 'channel_ch-1.png',
			list: [
				{
					title: 'Новости',
					time: '14:25',
				},
				{
					title: 'Давай поженимся или давай без давай',
					time: '15:15',
				},
				{
					title: 'Брат за брата',
					time: '16:00',
					descr: '1-ая серия “За основу взято”',
					type: 'learning',
				},
				{
					title: 'Вечерние новости',
					time: '17:00',
				},
			],
		},
		{
			title: 'Россия 1',
			logo: 'channel_rus-1.png',
			list: [
				{
					title: 'Вести',
					time: '15:15',
					isPast: true,
				},
				{
					title: 'Вести. Местное время',
					time: '16:00',
					isPast: true,
				},
				{
					title: 'Жемчуга',
					time: '17:00',
					type: 'series',
					isPast: true,
				},
				{
					title: '60 минут',
					time: '22:00',
				},
			],
		},
		{
			title: 'Матч ТВ',
			logo: 'channel_match-tv.png',
			list: [
				{
					title: 'Все на Матч! Прямая трансляция',
					time: '15:15',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Фитнес',
					time: '16:00',
				},
				{
					title: 'Новости',
					time: '17:00',
				},
				{
					title: 'Фитнес',
					time: '22:00',
				},
			],
		},
		{
			title: 'НТВ',
			logo: 'channel_ntv.png',
			list: [
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Место встречи',
					time: '15:15',
				},
				{
					title: 'Сегодня',
					time: '16:00',
				},
				{
					title: 'Красная зона',
					time: '17:00',
					type: 'series',
				},
				{
					title: 'ДНК',
					time: '22:00',
				},
			],
		},
		{
			title: 'Петербург-5',
			logo: 'channel_ch-5.png',
			list: [
				{
					title: 'Ржев',
					time: '15:15',
					type: 'sport',
				},
				{
					title: 'Известия',
					time: '16:00',
				},
				{
					title: 'Спецотряд "Шторм"',
					time: '17:00',
					descr: 'Большой передел',
					type: 'series'
				},
				{
					title: 'Спецотряд "Шторм"',
					time: '22:00',
					descr: 'Город контрастов',
					type: 'series'
				},
			],
		},
		{
			title: 'Россия К',
			logo: 'channel_cult.png',
			list: [
				{
					title: '2 Верник 2 (Светлана Владимировна Немоляева)',
					time: '15:15',
					type: 'culture',
				},
				{
					title: 'День за днем',
					time: '16:00',
					descr: 'Апрель, 7, среда',
				},
				{
					title: 'В.Гаврилин. "Военные письма". Большой симфонический оркестр имени П.И.Чайковского. Дирижер Владимир Федосеев',
					time: '17:00',
					type: 'culture',
				},
				{
					title: 'Антиохийская церковь',
					time: '22:00',
				},
			],
		},
	]

section.guide-grid
	.container-xl
		.row
			+channelCol(guide[0])
			+channelCol(guide[1])
			+channelCol(guide[2])
			+channelCol(guide[3])
		
		.page-banner.page-banner--tv-guide.temp-banner Banner
		.row
			+channelCol(guide[4])
			+channelCol(guide[5])
			//- each channel, idx in guide
				+channelCol(channel)
					if idx > 3
						- return
		button.guide-grid__load-more(type="button") Загрузить ещё...

