-
	var channels = [
		{
			title: 'Первый канал',
			logo: 'channel_ch-1.png',
			progress: 60,
			onAir: {
				time: '15:03',
				title: 'Сезон сериалов. 10-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Россия 1',
			logo: 'channel_rus-1.png',
			progress: 46,
			onAir: {
				time: '16:30',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Матч ТВ',
			logo: 'channel_match-tv.png',
			progress: 98,
			onAir: {
				time: '15:00',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'НТВ',
			logo: 'channel_ntv.png',
			progress: 21,
			onAir: {
				time: '15:50',
				title: 'Красная зона. 65-я и 66-я серии',
			},
			subscribe: true,
		},
		{
			title: 'Пятый канал',
			logo: 'channel_ch-5.png',
			progress: 30,
			onAir: {
				time: '15:03',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: false,
		},		
		{
			title: 'Рен-ТВ',
			logo: 'channel_ren-tv.png',
			progress: 66,
			onAir: false,
			subscribe: false,
		},		
		{
			title: 'Первый канал',
			logo: 'channel_ch-1.png',
			progress: 60,
			onAir: {
				time: '15:03',
				title: 'Сезон сериалов. 10-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Россия 1',
			logo: 'channel_rus-1.png',
			progress: 46,
			onAir: {
				time: '16:30',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Матч ТВ',
			logo: 'channel_match-tv.png',
			progress: 98,
			onAir: {
				time: '15:00',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'НТВ',
			logo: 'channel_ntv.png',
			progress: 21,
			onAir: {
				time: '15:50',
				title: 'Красная зона. 65-я и 66-я серии',
			},
			subscribe: true,
		},
		{
			title: 'Пятый канал',
			logo: 'channel_ch-5.png',
			progress: 30,
			onAir: {
				time: '15:03',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: false,
		},		
		{
			title: 'Рен-ТВ',
			logo: 'channel_ren-tv.png',
			progress: 66,
			onAir: false,
			subscribe: false,
		},		
		{
			title: 'Первый канал',
			logo: 'channel_ch-1.png',
			progress: 60,
			onAir: {
				time: '15:03',
				title: 'Сезон сериалов. 10-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Россия 1',
			logo: 'channel_rus-1.png',
			progress: 46,
			onAir: {
				time: '16:30',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Матч ТВ',
			logo: 'channel_match-tv.png',
			progress: 98,
			onAir: {
				time: '15:00',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'НТВ',
			logo: 'channel_ntv.png',
			progress: 21,
			onAir: {
				time: '15:50',
				title: 'Красная зона. 65-я и 66-я серии',
			},
			subscribe: true,
		},
		{
			title: 'Пятый канал',
			logo: 'channel_ch-5.png',
			progress: 30,
			onAir: {
				time: '15:03',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: false,
		},		
		{
			title: 'Рен-ТВ',
			logo: 'channel_ren-tv.png',
			progress: 66,
			onAir: false,
			subscribe: false,
		},		
		{
			title: 'Первый канал',
			logo: 'channel_ch-1.png',
			progress: 60,
			onAir: {
				time: '15:03',
				title: 'Сезон сериалов. 10-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Россия 1',
			logo: 'channel_rus-1.png',
			progress: 46,
			onAir: {
				time: '16:30',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'Матч ТВ',
			logo: 'channel_match-tv.png',
			progress: 98,
			onAir: {
				time: '15:00',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: true,
		},
		{
			title: 'НТВ',
			logo: 'channel_ntv.png',
			progress: 21,
			onAir: {
				time: '15:50',
				title: 'Красная зона. 65-я и 66-я серии',
			},
			subscribe: true,
		},
		{
			title: 'Пятый канал',
			logo: 'channel_ch-5.png',
			progress: 30,
			onAir: {
				time: '15:03',
				title: 'Брат за брата. 20-я серия',
			},
			subscribe: false,
		},		
		{
			title: 'Рен-ТВ',
			logo: 'channel_ren-tv.png',
			progress: 66,
			onAir: false,
			subscribe: false,
		},		
	]

section.channels-masonry
	.container-xl
		.row
			each channel in channels
				.col-12.col-sm-6.col-lg-4.col-xl-3
					.channel-card
						if channel.subscribe
							.channel-card__subs
								i.channel-card__subs-icon.icon-play-plus
								a.channel-card__subs-link(href="order.html") Подписка
						.channel-card__row
							.channel-card__logo
									img(src="img/content/channels/" + channel.logo alt=channel.title + ' лого')
							a.channel-card__title(href="#") #{channel.title}
							.channel-card__controls.guide-channel__control
								//- a.guide-channel__control-item.guide-channel__control-item--play(href="#" aria-label="Перейти к каналу")
									i.icon-play
								button.guide-channel__control-item.guide-channel__control-item--fav.fav-btn(type="button" title="Добавить в избранное")
									i.icon-heart-empty
									i.icon-heart-solid
						.channel-card__progress
							.channel-card__progress-bar(style="width:" + channel.progress + "%")
						.channel-card__row
							if channel.onAir
								.channel-card__time #{channel.onAir.time}
								.channel-card__on-air #{channel.onAir.title}
							else
								.channel-card__inactive Программа передач недоступна
		if config.page.type != 'search'
			button.channels-masonry__load-more(type="button") Загрузить ещё...