section.order-sticky.sticky-header
	form.order-panel
		.container-xl
			.order-panel__inner.row
				.d-none.d-lg-block.col-lg-3
					.order-panel__descr Для оформления укажите контактные данные
				.col-auto.col-md-6.col-lg-3
					.order-panel__email
						input.order-panel__input(type="text" name="email" inputmode="email" placeholder="johndoe@gmail.com" required)
						.order-panel__check.is-true
							i.order-panel__check-icon.order-panel__check-icon--true.icon-check-solid
							i.order-panel__check-icon.order-panel__check-icon--false.icon-close
						.order-panel__error Указан неправильный e-mail
				.col-auto.order-last.col-md-3.order-md-0
					.order-panel__submit-container
						button.order-panel__submit.buy-btn(type="submit")
							span.order-panel__submit-text.d-none.d-md-block Оформить подписку
							i.order-panel__submit-icon.icon-shopping-cart.d-md-none
				.col-md-3
					.order-panel__total
						.order-panel__total-title Цена выбранных пакетов:
						.order-panel__total-num 298 ₽
	.order-sticky__msg
		.container-xl
			.order-sticky__msg-inner
				i.order-sticky__msg-icon.icon-close
				span.order-sticky__msg-title Произошла ошибка