-
	var content = [
		'Первый канал является не только самым масштабным, но и самым популярным телеканалом страны.  В эфире канала - новости и аналитика, фильмы и сериалы, развлекательные программы и ток-шоу.',
		'Актуальная программа передач на телеканале "Первый Канал" в Москве с точным временем, расписанием и названиями телевизионных передач. Сегодня в Москве на канале "Первый Канал" можно посмотреть фильмы и передачи разных жанров.',
		'Узнайте, что будут показывать на телеканале "Первый Канал" в Москве сегодня, и посмотрите интересующую передачу или фильм в программе ComboPlayer.',
	] 

h2 О канале
each p in content
	p #{p}