-
	var data = {
		pastList: [
			{
				time: '12:00',
				title: 'Премьера. "Человек неунывающий"',
				mainDescr: 'Россия всегда в топе мировых новостей. Но что мир знает о России? Какая она? Какие люди в ней живут? Чем они живут? Фильм режиссера Андрея Кончаловского - это попытка ответить на вопрос, какие мы. На экране один за другим появляются герои, которых редко увидишь в новостных репортажах и телепрограммах. Где-то в Сибири бегут на рыбалку ребятишки, по берегу Байкала едет машина Скорой помощи, в деревенской школе начинается учебный год, на Кубани сеют кукурузу. Герои фильма складывают мозаику современной российской жизни и словно ведут диалог друг с другом - ведь темы, которые они обсуждают и которые заложены в авторских вопросах, для всех общие: смысл бытия, место человека в мире, вера, грех, счастье, любовь к родине. Семь новелл, семь выхваченных из жизни фрагментов создают единый портрет простого человека, который изо дня в день занимается своим делом - и незаметно делает жизнь лучше. Его сила заключается в способности не падать духом и несмотря ни на что верить в хорошее.',
				addDescr: 'Вторая серия',
			},
			{
				time: '13:30',
				title: 'Новости',
				addDescr: 'Режиссерская версия',
			},
			{
				time: '14:00',
				title: 'Сельский час',
			},
		],
		nowList: [
			{
				time: '15:15',
				title: 'Модный приговор',
				img: 'fashion.png',
				mainDescr: 'Уже 5 лет Полина Устрова ждёт от Михаила Музычкина заветные слова: «Будь моей женой!» Но Михаил с предложением не торопится. Он хочет, чтобы его дама сердца была моложе него не только по паспорту, но и внешне: "Ей всего 27 лет, а выглядит она на все 35!»',
				progress: 60,
			},
			{
				time: '16:00',
				title: 'Малахольная',
				mainDescr: 'Надя и Ксюша - две деревенские подружки. Ксюша все рвется в город и хочет устроить свою судьбу "как у людей", но пока это не получается, да и подругу бросить жалко. А Надя - мечтательница, все называют ее "малахольной" - уж очень она доверчива и наивна. Как все девчонки, она грезит о счастье, о любви, и ждет отца, который когда-то уехал на заработки и все обещает вернуться. Грезы грезами, но каждый раз перед лицом тяжелых жизненных ситуаций она оказывается одна. Одна воспитывает сына, одна лечит мать, одна помогает старой соседке. Несмотря на все трудности, Надя остается добрым и искренним человеком. И судьба вознаграждает ее.',
			},
			{
				time: '17:00',
				title: 'Вечерние новости',
				mainDescr: 'Россия всегда в топе мировых новостей. Но что мир знает о России? Какая она? Какие люди в ней живут? Чем они живут? Фильм режиссера Андрея Кончаловского - это попытка ответить на вопрос, какие мы. На экране один за другим появляются герои, которых редко увидишь в новостных репортажах и телепрограммах. Где-то в Сибири бегут на рыбалку ребятишки, по берегу Байкала едет машина Скорой помощи, в деревенской школе начинается учебный год, на Кубани сеют кукурузу. Герои фильма складывают мозаику современной российской жизни и словно ведут диалог друг с другом - ведь темы, которые они обсуждают и которые заложены в авторских вопросах, для всех общие: смысл бытия, место человека в мире, вера, грех, счастье, любовь к родине. Семь новелл, семь выхваченных из жизни фрагментов создают единый портрет простого человека, который изо дня в день занимается своим делом - и незаметно делает жизнь лучше. Его сила заключается в способности не падать духом и несмотря ни на что верить в хорошее.',
			},
			{
				time: '22:00',
				title: 'Ночные новости',
			},
		]
	}

section.channel-guide
	.container-xl
		.row
			.col-lg-9
				.channel-guide__lists
					include listPast.pug
					include listNow.pug

				.channel-guide__about.about-channel
					include aboutChannel.pug
					
			.d-none.d-lg-block.col-3
				.channel-guide__adv AD