-
	var data = {
		pastList: [
			{
				time: '12:00',
				title: 'Брат за брата',
				descr: '1-ая сериия “За основу взято”',
			},
			{
				time: '13:30',
				title: 'Новости',
			},
			{
				time: '14:00',
				title: 'Сельский час',
			},
		],
		nowList: [
			{
				time: '15:15',
				title: 'Модный приговор',
				img: 'fashion.png',
				descr: 'Уже 5 лет Полина Устрова ждёт от Михаила Музычкина заветные слова: «Будь моей женой!» Но Михаил с предложением не торопится. Он хочет, чтобы его дама сердца была моложе него не только по паспорту, но и внешне: "Ей всего 27 лет, а выглядит она на все 35!»',
				progress: 60,
			},
			{
				time: '16:00',
				title: 'Брат за брата',
				descr: '2-ая сериия “Разом нас богато”',
			},
			{
				time: '17:00',
				title: 'Вечерние новости',
			},
			{
				time: '22:00',
				title: 'Ночные новости',
			},
		]
	}

section.channel-guide
	.container-xl
		.row
			.col-lg-9
				.channel-guide__lists
					include listPast.pug
					include listNow.pug

				.channel-guide__about.about-channel
					include aboutChannel.pug
					
			.d-none.d-lg-block.col-3
				.channel-guide__adv AD