-
	var data = {
		pastList: [
			{
				time: '12:00',
				title: 'Премьера. "Человек неунывающий"',
				mainDescr: 'Россия всегда в топе мировых новостей. Но что мир знает о России? Какая она? Какие люди в ней живут? Чем они живут? Фильм режиссера Андрея Кончаловского - это попытка ответить на вопрос, какие мы. На экране один за другим появляются герои, которых редко увидишь в новостных репортажах и телепрограммах. Где-то в Сибири бегут на рыбалку ребятишки, по берегу Байкала едет машина Скорой помощи, в деревенской школе начинается учебный год, на Кубани сеют кукурузу. Герои фильма складывают мозаику современной российской жизни и словно ведут диалог друг с другом - ведь темы, которые они обсуждают и которые заложены в авторских вопросах, для всех общие: смысл бытия, место человека в мире, вера, грех, счастье, любовь к родине. Семь новелл, семь выхваченных из жизни фрагментов создают единый портрет простого человека, который изо дня в день занимается своим делом - и незаметно делает жизнь лучше. Его сила заключается в способности не падать духом и несмотря ни на что верить в хорошее.',
				addDescr: 'Вторая серия',
			},
			{
				time: '13:30',
				title: 'Новости',
				addDescr: 'Режиссерская версия',
			},
			{
				time: '14:00',
				title: 'Сельский час',
			},
		],
		nowList: [
			{
				time: '15:15',
				title: 'Модный приговор',
				img: 'fashion.png',
				mainDescr: 'Уже 5 лет Полина Устрова ждёт от Михаила Музычкина заветные слова: «Будь моей женой!» Но Михаил с предложением не торопится. Он хочет, чтобы его дама сердца была моложе него не только по паспорту, но и внешне: "Ей всего 27 лет, а выглядит она на все 35!»',
				progress: 60,
			},
			{
				time: '16:00',
				title: 'Чужой район',
				mainDescr: 'Сотрудник уголовного розыска Андрей Фролов - белая ворона. Ему не нравятся методы работы коллег, он не желает участвовать в допросах, которые ведутся с применением насилия и давления. После того как Андрей обезвредил преступника, который оказался внуком влиятельного лица, ему ставят',
				series: [
					'21-я серия - "Крыса"',
					'22-я серия - "Праздник"',
					'23-я серия - "Дурь"',
					'24-я серия - "Пропажа"',
					'25-я серия - "Находка"',
					'26-я серия - "Самое длинное название серии"',
				],
			},
			{
				time: '17:00',
				title: 'Вечерние новости',
				mainDescr: 'Россия всегда в топе мировых новостей. Но что мир знает о России? Какая она? Какие люди в ней живут? Чем они живут? Фильм режиссера Андрея Кончаловского - это попытка ответить на вопрос, какие мы. На экране один за другим появляются герои, которых редко увидишь в новостных репортажах и телепрограммах. Где-то в Сибири бегут на рыбалку ребятишки, по берегу Байкала едет машина Скорой помощи, в деревенской школе начинается учебный год, на Кубани сеют кукурузу. Герои фильма складывают мозаику современной российской жизни и словно ведут диалог друг с другом - ведь темы, которые они обсуждают и которые заложены в авторских вопросах, для всех общие: смысл бытия, место человека в мире, вера, грех, счастье, любовь к родине. Семь новелл, семь выхваченных из жизни фрагментов создают единый портрет простого человека, который изо дня в день занимается своим делом - и незаметно делает жизнь лучше. Его сила заключается в способности не падать духом и несмотря ни на что верить в хорошее.',
			},
			{
				time: '22:00',
				title: 'Ночные новости',
			},
		]
	}

section.channel-guide
	.container-xl
		.row
			.col-lg-9
				.channel-guide__lists
					include listPast.pug
					include listNow.pug

			.col-lg-3
				include guideViewSwitcher.pug
				.channel-guide__adv.d-none.d-lg-flex AD
		.row
			.col-lg-9
				.channel-guide__about.about-channel
					include aboutChannel.pug