.guide-view-switcher
	if config.page.type == 'channel'
		span.guide-view-switcher__link.is-inactive Сейчас
		a.guide-view-switcher__link(href="channel-week.html") Расписание на неделю
	else
		a.guide-view-switcher__link(href="channel.html") Сейчас
		span.guide-view-switcher__link.is-inactive Расписание на неделю
