.filters-management.channel-header.post-header
	.container-xl
		.row.flex-column.flex-sm-row.justify-content-sm-between.align-center
			.col-auto.pr-0
				.channel-header__left
					.channel-header__logo
						img(src="img/content/channels/channel_ch-1.png", alt="Первый канал лого")
					h1.channel-header__title.filters-management__title.title-1 ТВ-программа Первый Канал на сегодня
			.col-auto
				.channel-header__controls
					button.channel-favorite.fav-btn.channel-header__favorite(type="button" title="В избранное")
						span.channel-favorite__icon
							i.icon-heart-empty
							i.icon-heart-solid
					.channel-header__online
						i.channel-header__online-icon.icon-play
						a.channel-header__online-link(href="#") Смотреть онлайн
					include /_includes/_tv-guide/cityDropdown.pug
					a.channel-header__to-guide(href="tv-guide.html") Все каналы
