.article-content
	h2 Заголовок 2
	p Художественная богема, по определению, готично имеет романтизм. Притча имеет композиционный романтизм. Типическое продолжает резкий хтонический миф.
	p Механизм эвокации изменяем. Энтелехия, согласно 
		a(href="#") традиционным представлениям
		| , продолжает ритм, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Опера-буффа использует эдипов комплекс, однако само по себе состояние игры всегда амбивалентно.
	p Модернизм многопланово просветляет 
		strong эдипов комплекс.
		|  Весьма существенно следующее: восприятие сотворчества синхронно. Теория вчувствования возможна. Катарсис монотонно имитирует реализм.
	h3 Заголовок 3
	p Комплекс априорной бисексуальности изящно трансформирует фактографический горизонт ожидания. Художественный вкус аккумулирует биографический метод. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: героическое просветляет структурализм, однако само по себе состояние игры всегда амбивалентно. Художественная богема начинает персональный эдипов комплекс. Пушкин подарил Гоголю фабулу "Мертвых душ" не потому, что энергия либидо начинает "кодекс деяний". Эротическое имитирует конструктивный статус художника.
	h4 Заголовок 4
	p Семиотика искусства просветляет синхронический подход. Добавлю, что художественная ментальность монотонно продолжает глубокий текст. Одиночество, в первом приближении, выстраивает художественный ритуал.
	blockquote Lorem ipsum dolor sit amet, aliquam strong text style  lacus risus purus nisi scelerisque. Mauris, arcu, diam id adipiscing faucibus vitae commodo cras luctus. Pellentesque id sit in netus senectus semper eros, venenatis auctor. Italic text style bibendum lorem strong italic text style, eget mauris quisque sagittis.
	ul
		li Esse mollit officia occaecat pariatur
		li Irure eiusmod nulla excepteur consequat
	ol
		li Esse mollit officia occaecat pariatur
		li Irure eiusmod nulla excepteur consequat