.channel-guide {
	padding: 17px 0;

	&__lists {
		.programm-list__item:not(:last-child) {
			.programm-list__link {
				border-bottom: 1px solid $color-steel-dull-85;
			}
		}
		.programm-list__link {
			margin-bottom: 0;
			padding: 8px 0;
		}
	}
	&__past {
		&-opener {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 32px;
			padding: 8px 10px;
			margin-bottom: 16px;
			background-color: $color-steel-dull-95;
			color: $color-cobalt-2;
			border-radius: 5px;
			font-family: $addFont;
			font-size: 18px;

			i {
				margin-left: 12px;
				transition: transform 300ms;
			}
			&:hover {
				background-color: $color-steel-dull-85;
			}
			&.collapsed {
				i {
					transform: rotateZ(180deg);
				}
			}
		}
		// past programms list
		&-list {
			.programm-list__title {
				color: $color-steel-5;
			}
			.programm-list__descr {
				color: $color-steel-6;
			}
		}
	}

	// at now programms list
	&__now {
	}
	&__ad {
		top: 70px;
	}
}
