.post-header.movies-header.movies-header--cat
	.container-xl
		.row.justify-content-between.align-items-end
			.col-auto
				h1.post-header__title.title-1 Смотреть фильмы онлайн
			.col-auto
				a.movies-header__subscribe-banner(href="#") Фильмы по подписке можно посмотреть за 
					b 1₽ 
					| за первый месяц
