-
	var movies = [
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Реинкарнация',
			poster: 'reincarnation.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Мавританец',
			poster: 'mauritian.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Дочь волка',
			poster: 'wolfs-daughter.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Гипсомния',
			poster: 'hyposomny.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '7.0',
			title: 'Станиславский. Жажда жизни',
			poster: 'stanislavsky.png',
		},
		{
			badges: [
				'12+',
			],
			rating: '5.5',
			title: 'Скайлайн 3',
			poster: 'skyline.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '6.5',
			title: 'Поли',
			poster: 'poli.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '6.5',
			title: 'Italian Best Shorts 4: Истории нашей жизни',
			poster: 'italian-best-shorts.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '5.3',
			title: 'Мой брат – супергерой',
			poster: 'my-brother.png',
		},
		{
			badges: [
				'18+',
			],
			rating: '8.1',
			title: 'Доктор Стрейнджлав, или Как я научился не волноваться и полюбил атомную бомбу',
			poster: 'doctor-strangelove.jpg',
		},
	];


section.movies-list
	.container-xl
		.row
			each movie, idx in movies
				.col-6.col-sm-6.col-md-4.col-lg-3
					+movieItem(movie, idx)