.subscribe-top
	h1.subscribe-top__title.title-1 Подписка активирована!
	.subscribe-top__box
		.subscribe-top__icon
			img(src="img/tv-icon_grad.svg" alt="tv icon")
		.subscribe-top__text Перейдите по 
			a(href="#") ссылке
			| , чтобы продолжить просмотр ТВ.
