.player-header__controls {
	&--md-control {
		max-width: 294px;
		height: 32px;
		margin-bottom: 13px;
		border-color: $color-steel-2;

		.player-header__nav {
			&-title {
				color: $color-white;
			}
		}
	}
}
.player-controls {

}