body {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	font-family: $mainFont, "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 16px;
}
.title-1 {
	font-family: $addFont;
	font-weight: normal;
	font-size: 20px;
	line-height: 100%;

	@include media-breakpoint-up(lg) {
		font-size: 25px;
	}
}
.title-2 {
	font-family: $addFont;
	font-weight: bold;
	font-size: 19px;
	line-height: 125%;
}
.title-3 {
	font-family: $mainFont;
	font-weight: bold;
	font-size: 16px;
	line-height: 125%;
}
.title-4 {
	font-family: $mainFont;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
}
.sticky-header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	&.is-sticky {
		position: fixed;
	}
}
.buy-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $green-grad;
	color: $color-white;
	border-radius: 4px;
	text-align: center;
	box-shadow: $btn-shad;
	font-weight: bold;
	line-height: 100%;
	white-space: nowrap;
	transition-property: background-color, background-image;
	transition-duration: 300ms;

	&:hover {
		background: $green-grad-light;
	}
	&:active {
		background: #009f6b;
	}
	&:focus {
		outline: 0;
	}
}
.fav-btn {
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: visibility 200ms, opacity 200ms;

		&.icon-heart-empty {
			visibility: visible;
			opacity: 1;
		}
		&.icon-heart-solid {
			visibility: hidden;
			opacity: 0;
		}
	}
	&.is-active {
		i {
			&.icon-heart-empty {
				visibility: hidden;
				opacity: 0;
			}
			&.icon-heart-solid {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.no-js-msg {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 15px;
}
