.form {
	$input-height: 48px;

	&__row-title {
		margin-bottom: 8px;
		padding: 6px 0;
		font-family: $addFont;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: -0.01em;
		color: $color-steel-3;
	}
	&__text-input {
		width: 100%;
		height: $input-height;
		padding: 15px;
		min-width: 0;
		background: $color-steel-dull-95;
		border: 1px solid $color-steel-dull-85;
		border-radius: 5px;
		color: $color-steel-1;

		&::placeholder {
			color: $color-steel-5;
		}
		&:focus {
			outline: 0;
			border-color: $color-steel-dull-5;
		}
	}
	&__iconed-input {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		height: $input-height;
		margin-bottom: 15px;

		&:focus {
			color: red;
		}

		i {
			flex: 0 0 auto;
			width: $input-height;
			height: $input-height;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $color-white;
			color: $color-steel-5;
			border-radius: 5px 0 0 5px;
		}
		input {
			border: 0;
			border-radius: 0 5px 5px 0;
			transition: background-color 200ms;

			&:focus {
				background-color: $color-white;

				& + i {
					color: $color-apple-5;
				}
			}
		}
	}
	&__button {
		width: 100%;
		max-width: 264px;
		min-height: 50px;
		font-size: 20px;
		font-weight: bold;
	}
	&__msg {
		$color-succes: #00bf81;
		$color-err: #ff4f58;

		margin-bottom: 15px;
		padding: 15px;
		border: 1px solid $color-steel-1;
		border-radius: 5px;

		&-header {
			display: flex;
		}
		&-icon {
			margin-right: 10px;
			color: $color-steel-1;

			&--err {
				color: $color-err;
			}
			&--ok {
				color: $color-succes;
			}
		}
		&-title {
			color: $color-steel-3;
			font-size: 15px;
			line-height: 125%;
		}
		&-body {
			color: $color-steel-5;
			font-size: 13px;
		}
		&--err {
			border-color: $color-err;
		}
		&--ok {
			border-color: $color-succes;
		}
	}
}
