.header {
	$header-border: 1px solid $color-steel-dull-9;
	--height: 47px;

	height: var(--height);
	color: $color-cobalt-1;
	background-color: $color-white;
	border-bottom: $header-border;
	font-family: $addFont;
	// overflow: hidden;

	@include media-breakpoint-up(sm) {
		--height: 52px;
	}
	@include media-breakpoint-up(lg) {
		--height: 84px;
	}
	&__logo {
		min-width: 140px;
		display: flex;
		height: var(--height);
		align-items: center;
		padding: 5px 0;

		@include media-breakpoint-up(sm) {
			padding: 8px 0;
		}
		@include media-breakpoint-up(lg) {
			padding: 12px 0;
			min-width: 220px;
		}
		img {
			max-width: none;
			max-height: 100%;
		}
	}
	&__search {
		height: var(--height);
		display: flex;
		align-items: center;
		padding-left: 48px;
		padding-right: 10px;
		position: relative;
		transition: background-color 300ms;

		&:focus-within {
			background-color: $color-steel-dull-95;
		}
		&-input {
			width: 100%;
			border: 0;
			background-color: inherit;
			overflow: hidden;
			text-overflow: ellipsis;

			&::placeholder {
				color: $color-steel-5;
			}
			&:focus {
				outline: 0;
			}
		}
		&-submit {
			position: absolute;
			width: 38px;
			height: 38px;
			color: $color-cobalt-1;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
		} 

	}
	&__menu {
		display: flex;

		// mobile menu
		flex-direction: column;
		position: absolute;
		z-index: 100;
		top: var(--height);
		left: 0;
		right: 0;
		background-color: $color-cobalt-1;
		transform: translateX(-100%);
		will-change: transform;
		transition: transform 300ms;

		@include media-breakpoint-up(md) {
			// regular menu
			position: static;
			flex-direction: row;
			justify-content: flex-end;
			height: var(--height);
			border-left: $header-border;
			background-color: transparent;
			transform: none;
		}
		&.is-active {
			transform: translateX(0);
		}

		&-item {
			// mobile menu
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: var(--height);
			padding: 14px 16px;
			padding-left: 60px;
			font-size: 16px;
			font-family: $mainFont;
			color: $color-white;

			&:not(:last-child) {
				// mobile menu
				border-bottom: 1px solid $color-cobalt-3;

				@include media-breakpoint-up(md) {
					// regular menu
					border-bottom: 0;
				}
			}

			@include media-breakpoint-up(md) {
				// regular menu
				justify-content: center;
				padding-left: 16px;
				border-right: $header-border;
				color: inherit;
			}
			@include media-breakpoint-up(lg) {
				font-size: 19px;
				font-family: $addFont;
			}
			&:hover {
				background-color: $color-cobalt-3;
				color: $color-white;

				// regular menu
				@include media-breakpoint-up(md) {
					color: $color-white;
					background-color: $color-cobalt-4;
				}
			}
			&:active,
			&.is-active {
				color: $color-steel-4;
				background-color: $color-steel-dull-85;
			}
			&.is-active {
				pointer-events: none;
			}
		}
	}
	&__login {
		display: flex;
		justify-content: center;
		align-items: center;
		height: var(--height);
		padding: 14px 16px;
		font-size: 16px;
		background-repeat: no-repeat;
		border-left: $header-border;
		border-right: $header-border;

		@include media-breakpoint-up(md) {
			border-right: 0;
			border-left: 0;
		}
		@include media-breakpoint-up(lg) {
			font-size: 19px;
			font-family: $addFont;
		}
		@include media-breakpoint-up(xl) {
			border-right: $header-border;
		}
		&:hover {
			color: $color-white;
			background-color: $color-cobalt-4;

			i {
				color: $color-cobalt-deep-8;
			}
		}
		&:active {
			color: $color-steel-4;
			background-color: $color-steel-dull-85;
		}
		i {
			color: $color-apple-deep-4;
			font-size: 16px;
		}
		span {
			display: none;
			margin-left: 8px;

			@include media-breakpoint-up(sm) {
				display: inline;
			}
		}
	}
	&__burger {
		width: var(--height);
		height: var(--height);
		color: #c74848;
		font-size: 12.74px;

		button {
			width: 100%;
			height: 100%;
			transition: background-color 300ms, color 300ms;
			&.is-active {
				background-color: $color-cobalt-1;
				color: $color-white;
			}
		}
	}
}
