@font-face {
  font-family: "icomoon";
  src: url($font-path + "icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exclamation:before {
  content: "\e931";
}
.icon-tv-cat_adult:before {
  content: "\e926";
}
.icon-tv-cat_main:before {
  content: "\e927";
}
.icon-tv-cat_entertain:before {
  content: "\e928";
}
.icon-tv-cat_hobbies:before {
  content: "\e929";
}
.icon-tv-cat_info:before {
  content: "\e92a";
}
.icon-tv-cat_kids:before {
  content: "\e92b";
}
.icon-tv-cat_learning:before {
  content: "\e92c";
}
.icon-tv-cat_movies:before {
  content: "\e92d";
}
.icon-tv-cat_music:before {
  content: "\e92e";
}
.icon-tv-cat_shop:before {
  content: "\e92f";
}
.icon-tv-cat_sport:before {
  content: "\e930";
}
.icon-arrow-next:before {
  content: "\e924";
}
.icon-arrow-prev:before {
  content: "\e925";
}
.icon-calendar-solid:before {
  content: "\e900";
}
.icon-moi-mir:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-odnoklassniki:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-vk:before {
  content: "\e906";
}
.icon-yandex:before {
  content: "\e907";
}
.icon-question:before {
  content: "\e908";
}
.icon-question-solid:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e919";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-logout2:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-caret-down:before {
  content: "\e90d";
}
.icon-caret-up:before {
  content: "\e90e";
}
.icon-check-solid:before {
  content: "\e90f";
}
.icon-exclamation-triangle-solid:before {
  content: "\e910";
}
.icon-facebook-logo:before {
  content: "\e911";
}
.icon-play-plus:before {
  content: "\e912";
}
.icon-kinopoisk-logo:before {
  content: "\e913";
}
.icon-login:before {
  content: "\e914";
}
.icon-play:before {
  content: "\e915";
}
.icon-plus-square-solid:before {
  content: "\e916";
}
.icon-shopping-cart:before {
  content: "\e917";
}
.icon-close:before {
  content: "\e918";
}
.icon-tv-icon:before {
  content: "\e91a";
}
.icon-burger:before {
  content: "\e91b";
}
.icon-masonry:before {
  content: "\e91c";
}
.icon-logout:before {
  content: "\e91d";
}
.icon-vk-logo:before {
  content: "\e91e";
}
.icon-ruble:before {
  content: "\e91f";
}
.icon-playback:before {
  content: "\e920";
}
.icon-zoom:before {
  content: "\e921";
}
.icon-heart-solid:before {
  content: "\e922";
}
.icon-heart-empty:before {
  content: "\e923";
}
.icon-mute:before {
  content: "\e932";
}
.icon-rewind-left:before {
  content: "\e933";
}
.icon-rewind-right:before {
  content: "\e934";
}
.icon-volume:before {
  content: "\e935";
}
.icon-expand:before {
  content: "\e936";
}
.icon-sort-dir:before {
  content: "\e937";
}
.icon-film:before {
  content: "\e938";
}
.icon-globe:before {
  content: "\e939";
}
.icon-table:before {
  content: "\e93a";
}
.icon-redo:before {
  content: "\e93b";
}
.icon-adv-0:before {
  content: "\e93c";
}
.icon-adv-1:before {
  content: "\e93d";
}
.icon-adv-2:before {
  content: "\e93e";
}
.icon-adv-3:before {
  content: "\e93f";
}
.icon-adv-4:before {
  content: "\e940";
}
.icon-adv-5:before {
  content: "\e941";
}
.icon-adv-6:before {
  content: "\e942";
}
.icon-adv-7:before {
  content: "\e943";
}
.icon-pause:before {
  content: "\e944";
}
.icon-collapse:before {
  content: "\e945";
}
.icon-imdb:before {
  content: "\e946";
}
.icon-timer:before {
  content: "\e947";
}
.icon-qutes-right:before {
  content: "\e948";
}
.icon-arrow-down:before {
  content: "\e949";
}
.icon-mail-solid:before {
  content: "\e94a";
}
.icon-phone-solid:before {
  content: "\e94b";
}
.icon-user-solid:before {
  content: "\e94c";
}
.icon-check-circle:before {
  content: "\e94d";
}
