.popup-layer {
}
.popup-item {
	width: 100%;
	max-width: 360px;
	height: 130px;
	padding: 15px 15px 15px 20px;
	display: flex;
	position: relative;
	background-color: $color-white;
	color: $color-steel-3;
	box-shadow: $shadow-lg;
	border-radius: 5px;

	position: fixed;
	z-index: 120;

	&--up {
		top: 15px;
		right: 15px;
	}
	&--down {
		bottom: 15px;
		left: 15px;
	}

	&__icon {
		flex: 0 0 auto;
		width: 64px;
		height: 64px;
		margin-top: 13px;
		margin-right: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: linear-gradient(218.35deg, rgba(74, 155, 253, 0.2) 1.86%, rgba(152, 221, 188, 0.2) 67.52%), #def5ee;
		color: $color-cobalt-3;
		font-size: 30px;

		&--transformed {
			i {
				transform: rotateZ(180deg);
			}
		}
	}
	&__text {
		flex: 1 1 auto;
		padding-right: 25px;
		padding-top: 5px;
		font-size: 15px;
		line-height: 125%;
		letter-spacing: -0.01em;

		p {
			margin: 0;
			&:not(:last-child) {
				margin-bottom: .5em;
			}
		}
	}
	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 12px;
		color: $color-steel-6;
	}
}
