.items-carousels {
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 20px;
		z-index: 10;
		pointer-events: none;

		@include media-breakpoint-up(sm) {
			width: 50px;
		}
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}
.slider-nav {
	position: absolute;
	z-index: 50;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	font-size: 23px;
	color: $color-cobalt-2;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	box-shadow: $shadow-md;
	transition: background-color 100ms, color 100ms;

	&:hover {
		background-color: $color-white;
	}
	&:active {
		background-color: $color-cobalt-3;
		color: $color-white;
	}
	&--left {
		left: 0;
		// transform: translate(-25px, -50%);
		transform: translate(0, -50%);

		i {
			transform: rotateZ(90deg);
		}
	}
	&--right {
		right: 0;
		// transform: translate(25px, -50%);
		transform: translate(0, -50%);

		i {
			transform: rotateZ(-90deg);
		}
	}
}

// tv slider
@import "_programm-slider.scss";
