// variables

//mixins
//desktop first
@mixin df($size) {
	@media (max-width: $size + px) {
		@content;
	}
}
//mobile first
@mixin mf($size) {
	@media (min-width: $size + px) {
		@content;
	}
}
//position absolute full size
@mixin absoluteFull() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


// paths
$font-path: "/fonts/";
$img-path: "/img/";

//fonts
$mainFont: "Roboto", sans-serif;
$addFont: "Roboto Condensed", sans-serif;

// Color styles
$color-black: #222222;
$color-white: #FFFFFF;
$color-green: #5F8F31;
$color-green-light: #75A01C;
$color-blue: #2AAAE1;
$color-steel-darkest: #25292B;
$color-steel-dark: #3C4C54;
$color-steel: #8BA7BA;
$color-steel-light: #D4DFE4;
$color-blue-dark: #0D8EC8;
$color-blue-darker: #007DB5;
$color-cyan: #1DD398;
$color-violet: #6A67CE;
$color-yellow: #FAB500;
$color-orange: #FA6A00;
$color-purple: #C161C5;
$color-brown: #9E633B;
$color-red-dark: #FA353F;
$color-red: #FC636B;
$color-steel-dull-black: #2B3234;
$color-steel-dull-darkest: #393F43;
$color-steel-dull-darker: #4F585E;
$color-steel-dull-dark: #6A767C;
$color-steel-dull: #8F9BA5;
$color-steel-dull-light: #BEC7CE;
$color-steel-dull-lighter: #CBD1D7;
$color-steel-dull-lightest: #DADFE3;
$color-green-lighter: #79AE0B;
$color-red-lighter: #FF7D84;
$blue-grad: #FFFFFF;
$grad-gray: #FFFFFF;
$blue-grad: #3F85FD;
$colored-grad: #214485;
$color-cobalt-0: #1C3769;
$color-cobalt-1: #274B8F;
$color-cobalt-2: #2D57A6;
$color-cobalt-3: #3363BC;
$color-cobalt-4: #386DCE;
$color-cobalt-5: #5683D6;
$color-cobalt-6: #7499DD;
$color-cobalt-7: #9CB6E7;
$color-cobalt-8: #C2D2EF;
$color-cobalt-9: #E7EDF9;
$color-cobalt-deep-0: #081F49;
$color-cobalt-deep-1: #052F7E;
$color-cobalt-deep-2: #114FC2;
$color-cobalt-deep-3: #2B6BE0;
$color-cobalt-deep-4: #397BF4;
$color-cobalt-deep-5: #4B84EE;
$color-cobalt-deep-6: #6C9BF1;
$color-cobalt-deep-7: #94B6F5;
$color-cobalt-deep-8: #BCD1F9;
$color-cobalt-deep-9: #E6EEFD;
$color-apple-0: #024F36;
$color-apple-1: #026B49;
$color-apple-2: #037C55;
$color-apple-3: #038C60;
$color-apple-4: #049A69;
$color-apple-5: #2AAA80;
$color-apple-6: #4FB896;
$color-apple-7: #82CDB5;
$color-apple-8: #B3E0D1;
$color-apple-9: #E0F2EC;
$color-apple-deep-0: #002B1D;
$color-apple-deep-1: #00412C;
$color-apple-deep-3: #006E4A;
$color-apple-deep-2: #006E4A;
$color-apple-deep-3: #009867;
$color-apple-deep-4: #0BB07A;
$color-apple-deep-5: #12B580;
$color-apple-deep-6: #3EC398;
$color-apple-deep-7: #72D3B4;
$color-apple-deep-8: #A7E4D0;
$color-apple-deep-9: #DFF5EE;
$color-cyan-0: #004B4B;
$color-cyan-1: #006666;
$color-cyan-2: #007777;
$color-cyan-3: #008787;
$color-cyan-4: #009494;
$color-cyan-5: #25A5A5;
$color-cyan-6: #4CB5B5;
$color-cyan-7: #7FCACA;
$color-cyan-8: #B1DEDE;
$color-cyan-9: #E0F2F2;
$color-cyan-deep-0: #002929;
$color-cyan-deep-1: #003E3E;
$color-cyan-deep-2: #006868;
$color-cyan-deep-3: #009090;
$color-cyan-deep-4: #09A6A6;
$color-cyan-deep-5: #0CAFAF;
$color-cyan-deep-6: #39BEBE;
$color-cyan-deep-7: #6FD0D0;
$color-cyan-deep-8: #A4E1E1;
$color-cyan-deep-9: #DEF4F4;
$color-cyan-dull-0: #022828;
$color-cyan-dull-1: #113737;
$color-cobalt-dull-0: #111E37;
$color-cobalt-dull-1: #1F2C45;
$color-cobalt-dull-2: #3D4A63;
$color-cyan-dull-2: #2E5454;
$color-cyan-dull-3: #4A7070;
$color-cyan-dull-4: #5C8282;
$color-cyan-dull-5: #638989;
$color-cyan-dull-6: #7BA1A1;
$color-cyan-dull-7: #98BEBE;
$color-cyan-dull-8: #B4DADA;
$color-cyan-dull-9: #D3F9F9;
$color-cobalt-dull-3: #59667F;
$color-cobalt-dull-4: #68768E;
$color-cobalt-dull-5: #728098;
$color-cobalt-dull-6: #8A98B0;
$color-cobalt-dull-7: #A7B4CD;
$color-cobalt-dull-8: #C3D0E9;
$color-cobalt-dull-9: #E5EEFF;
$color-apple-dull-0: #03291D;
$color-apple-dull-1: #12382C;
$color-apple-dull-2: #305649;
$color-apple-dull-3: #4C7265;
$color-apple-dull-4: #5F8579;
$color-apple-dull-5: #658B7F;
$color-apple-dull-6: #7DA397;
$color-apple-dull-7: #99BFB3;
$color-apple-dull-8: #B6DCD0;
$color-apple-dull-9: #D4FAEE;
$color-steel-0: #193645;
$color-steel-05: #25404C;
$color-steel-1: #2D4A59;
$color-steel-2: #3B5D6D;
$color-steel-3: #496E7F;
$color-steel-4: #597F91;
$color-steel-5: #6F93A5;
$color-steel-6: #85A7B9;
$color-steel-7: #A4C2D0;
$color-steel-8: #BFDDEB;
$color-steel-9: #E0F3FF;
$color-steel-dull-0: #263238;
$color-steel-dull-1: #37474F;
$color-steel-dull-2: #455A64;
$color-steel-dull-3: #546E7A;
$color-steel-dull-4: #607D8B;
$color-steel-dull-5: #78909C;
$color-steel-dull-6: #90A4AE;
$color-steel-dull-7: #B0BEC5;
$color-steel-dull-8: #CFD8DC;
$color-steel-dull-85: #DFEAEE;
$color-steel-dull-9: #E8EFF2;
$color-steel-dull-95: #F2F8FA;
$green-grad: linear-gradient(180deg, #3ABE93 0%, rgba(62, 195, 152, 0) 100%), #0EA675;
$green-grad-light: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #00B87C;

$color-error: #E15B65;

//category colors
$color-movie: #F73845;
$color-series: #6A6ACB;
$color-sport: #13C688;
$color-learning: #F8AE1B;
$color-info: #277ADE;
$color-news: #F96A21;
$color-entertain: #9E633B;
$color-culture: #29AFCE;
$color-kids: #BF65C3;
$color-rest: #9AAFB7;

// Effect styles 
$shadow-md: 0px 4px 4px rgba(0, 0, 0, 0.1);
$shadow-md-active:  4px 0px 4px rgba(33, 68, 133, 0.3);
$text-shadow:  1px 0px 1px rgba(0, 0, 0, 0.15);
$glow-error:  0px 0px 10px rgba(225, 91, 101, 0.5);
$glow-active:  0px 0px 10px rgba(13, 142, 200, 0.5);
$btn-shad:  0px 5px 10px rgba(0, 0, 0, 0.15);

// $shadow-md:  4px 0px 4px rgba(0, 0, 0, 0.1);
// $shadow-md-active:  4px 0px 4px rgba(33, 68, 133, 0.3);
// $text-shadow:  1px 0px 1px rgba(0, 0, 0, 0.15);
// $glow-error:  10px 0px 0px rgba(225, 91, 101, 0.5);
// $glow-active:  10px 0px 0px rgba(13, 142, 200, 0.5);
// $btn-shad:  10px 0px 5px rgba(0, 0, 0, 0.15);

$shadow-lg:  0px 5px 15px rgba(0, 0, 0, 0.3);
$text-shadow-md:  2px 0px 2px rgba(0, 0, 0, 0.2);
$glow-cyan:  10px 0px 0px rgba(69, 240, 185, 1);
$glow-white:  8px 0px 0px rgba(255, 255, 255, 1);