// variables

//mixins
//desktop first
@mixin df($size) {
	@media (max-width: $size + px) {
		@content;
	}
}
//mobile first
@mixin mf($size) {
	@media (min-width: $size + px) {
		@content;
	}
}
//position absolute full size
@mixin absoluteFull() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
@mixin dottedEnd() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
//category color mixin
@mixin catColor($cat) {
	&--#{$cat} {
		.categories-list__input:checked ~ .categories-list__view {
			background-color: map-get($color-cat, #{$cat});
			color: $color-white;
		}
		.categories-list__title {
			&::before {
				background-color: lighten(map-get($color-cat, #{$cat}), 20%);
			}
		}
	}
}
@mixin programmColor($cat) {
	&--#{$cat} {
		.programm-list__time {
			background-color: map-get($color-cat, #{$cat});
			color: $color-white;
		}
	}
}
//social icons color
@mixin socialColors($social) {
	&--#{$social} {
		.social-list__link {
			background: map-get($color-social, #{$social});
		}
	}
}

// paths
$font-path: "/fonts/";
$img-path: "/img/";

//fonts
$mainFont: "Roboto", sans-serif;
$addFont: "Roboto Condensed", sans-serif;

// Color styles
$color-black: #222222;
$color-white: #ffffff;
$color-green: #5f8f31;
$color-green-light: #75a01c;
$color-blue: #2aaae1;
$color-steel-darkest: #25292b;
$color-steel-dark: #3c4c54;
$color-steel: #8ba7ba;
$color-steel-light: #d4dfe4;
$color-blue-dark: #0d8ec8;
$color-blue-darker: #007db5;
$color-cyan: #1dd398;
$color-violet: #6a67ce;
$color-yellow: #fab500;
$color-orange: #fa6a00;
$color-purple: #c161c5;
$color-brown: #9e633b;
$color-red-dark: #fa353f;
$color-red: #fc636b;
$color-steel-dull-black: #2b3234;
$color-steel-dull-darkest: #393f43;
$color-steel-dull-darker: #4f585e;
$color-steel-dull-dark: #6a767c;
$color-steel-dull: #8f9ba5;
$color-steel-dull-light: #bec7ce;
$color-steel-dull-lighter: #cbd1d7;
$color-steel-dull-lightest: #dadfe3;
$color-green-lighter: #79ae0b;
$color-red-lighter: #ff7d84;
$blue-grad: #ffffff;
$grad-gray: #ffffff;
$blue-grad: #3f85fd;
$colored-grad: #214485;
$color-cobalt-0: #1c3769;
$color-cobalt-1: #274b8f;
$color-cobalt-2: #2d57a6;
$color-cobalt-3: #3363bc;
$color-cobalt-4: #386dce;
$color-cobalt-5: #5683d6;
$color-cobalt-6: #7499dd;
$color-cobalt-7: #9cb6e7;
$color-cobalt-8: #c2d2ef;
$color-cobalt-9: #e7edf9;
$color-cobalt-deep-0: #081f49;
$color-cobalt-deep-1: #052f7e;
$color-cobalt-deep-2: #114fc2;
$color-cobalt-deep-3: #2b6be0;
$color-cobalt-deep-4: #397bf4;
$color-cobalt-deep-5: #4b84ee;
$color-cobalt-deep-6: #6c9bf1;
$color-cobalt-deep-7: #94b6f5;
$color-cobalt-deep-8: #bcd1f9;
$color-cobalt-deep-9: #e6eefd;
$color-apple-0: #024f36;
$color-apple-1: #026b49;
$color-apple-2: #037c55;
$color-apple-3: #038c60;
$color-apple-4: #049a69;
$color-apple-5: #2aaa80;
$color-apple-6: #4fb896;
$color-apple-7: #82cdb5;
$color-apple-8: #b3e0d1;
$color-apple-9: #e0f2ec;
$color-apple-deep-0: #002b1d;
$color-apple-deep-1: #00412c;
$color-apple-deep-3: #006e4a;
$color-apple-deep-2: #006e4a;
$color-apple-deep-3: #009867;
$color-apple-deep-4: #0bb07a;
$color-apple-deep-5: #12b580;
$color-apple-deep-6: #3ec398;
$color-apple-deep-7: #72d3b4;
$color-apple-deep-8: #a7e4d0;
$color-apple-deep-9: #dff5ee;
$color-cyan-0: #004b4b;
$color-cyan-1: #006666;
$color-cyan-2: #007777;
$color-cyan-3: #008787;
$color-cyan-4: #009494;
$color-cyan-5: #25a5a5;
$color-cyan-6: #4cb5b5;
$color-cyan-7: #7fcaca;
$color-cyan-8: #b1dede;
$color-cyan-9: #e0f2f2;
$color-cyan-deep-0: #002929;
$color-cyan-deep-1: #003e3e;
$color-cyan-deep-2: #006868;
$color-cyan-deep-3: #009090;
$color-cyan-deep-4: #09a6a6;
$color-cyan-deep-5: #0cafaf;
$color-cyan-deep-6: #39bebe;
$color-cyan-deep-7: #6fd0d0;
$color-cyan-deep-8: #a4e1e1;
$color-cyan-deep-9: #def4f4;
$color-cyan-dull-0: #022828;
$color-cyan-dull-1: #113737;
$color-cobalt-dull-0: #111e37;
$color-cobalt-dull-1: #1f2c45;
$color-cobalt-dull-2: #3d4a63;
$color-cyan-dull-2: #2e5454;
$color-cyan-dull-3: #4a7070;
$color-cyan-dull-4: #5c8282;
$color-cyan-dull-5: #638989;
$color-cyan-dull-6: #7ba1a1;
$color-cyan-dull-7: #98bebe;
$color-cyan-dull-8: #b4dada;
$color-cyan-dull-9: #d3f9f9;
$color-cobalt-dull-3: #59667f;
$color-cobalt-dull-4: #68768e;
$color-cobalt-dull-5: #728098;
$color-cobalt-dull-6: #8a98b0;
$color-cobalt-dull-7: #a7b4cd;
$color-cobalt-dull-8: #c3d0e9;
$color-cobalt-dull-9: #e5eeff;
$color-apple-dull-0: #03291d;
$color-apple-dull-1: #12382c;
$color-apple-dull-2: #305649;
$color-apple-dull-3: #4c7265;
$color-apple-dull-4: #5f8579;
$color-apple-dull-5: #658b7f;
$color-apple-dull-6: #7da397;
$color-apple-dull-7: #99bfb3;
$color-apple-dull-8: #b6dcd0;
$color-apple-dull-9: #d4faee;
$color-steel-0: #193645;
$color-steel-05: #25404c;
$color-steel-1: #2d4a59;
$color-steel-2: #3b5d6d;
$color-steel-3: #496e7f;
$color-steel-4: #597f91;
$color-steel-5: #6f93a5;
$color-steel-6: #85a7b9;
$color-steel-7: #a4c2d0;
$color-steel-8: #bfddeb;
$color-steel-9: #e0f3ff;
$color-steel-dull-0: #263238;
$color-steel-dull-1: #37474f;
$color-steel-dull-2: #455a64;
$color-steel-dull-3: #546e7a;
$color-steel-dull-4: #607d8b;
$color-steel-dull-5: #78909c;
$color-steel-dull-6: #90a4ae;
$color-steel-dull-7: #b0bec5;
$color-steel-dull-8: #cfd8dc;
$color-steel-dull-85: #dfeaee;
$color-steel-dull-9: #e8eff2;
$color-steel-dull-95: #f2f8fa;
$green-grad: linear-gradient(180deg, #3abe93 0%, rgba(62, 195, 152, 0) 100%), #0ea675;
$green-grad-light: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #00b87c;

$color-error: #e15b65;

//category row colors (tv-guide)

$cat-list: movie, series, sport, learning, info, news, entertain, culture, kids, rest, collections;

$color-cat: (
	movie: #f73845,
	series: #6a6acb,
	sport: #13c688,
	learning: #f8ae1b,
	info: #277ade,
	news: #f96a21,
	entertain: #9e633b,
	culture: #29afce,
	kids: #bf65c3,
	rest: #9aafb7,
	collections: #F73845,
);

//social media colors (login form)

$color-social: (
	vk: #4f76a2,
	facebook: #3d5b96,
	twitter: #4f76a2,
	odnoklassniki: #f38231,
	moi-mir: #228fdf,
	yandex: #fc0d1b,
	instagram: (
		linear-gradient(180deg, #ba3fa9 0%, #fd444d 100%),
		#fec15d,
	),
);

// Effect styles
$shadow-md: 0px 4px 4px rgba(0, 0, 0, 0.1);
$shadow-md-active: 4px 0px 4px rgba(33, 68, 133, 0.3);
$text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);
$glow-error: 0px 0px 10px rgba(225, 91, 101, 0.5);
$glow-active: 0px 0px 10px rgba(13, 142, 200, 0.5);
$btn-shad: 0px 5px 10px rgba(0, 0, 0, 0.15);

// $shadow-md:  4px 0px 4px rgba(0, 0, 0, 0.1);
// $shadow-md-active:  4px 0px 4px rgba(33, 68, 133, 0.3);
// $text-shadow:  1px 0px 1px rgba(0, 0, 0, 0.15);
// $glow-error:  10px 0px 0px rgba(225, 91, 101, 0.5);
// $glow-active:  10px 0px 0px rgba(13, 142, 200, 0.5);
// $btn-shad:  10px 0px 5px rgba(0, 0, 0, 0.15);

$shadow-lg: 0px 5px 15px rgba(0, 0, 0, 0.3);
$shadow-xl: 0px 10px 30px rgba(0, 0, 0, 0.3);
$text-shadow-md: 2px 0px 2px rgba(0, 0, 0, 0.2);
$glow-cyan: 10px 0px 0px rgba(69, 240, 185, 1);
$glow-white: 8px 0px 0px rgba(255, 255, 255, 1);
