.recovery-form {
	&__input {
		margin-bottom: 20px;
	}
	&__messages {

	}
	&__recap-text {
		margin-bottom: 16px;
		color: $color-steel-3;
		font-size: 15px;
		line-height: 125%;
		letter-spacing: -0.01em;
		
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		a {
			color: $color-cobalt-4;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
